# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo/React Native
.expo/
.expo-shared/
dist/
web-build/
.expoignore

# Build outputs
build/
android/app/build/
android/build/
android/.gradle/
ios/build/
ios/Pods/
*.apk
*.aab
*.ipa

# Native keys/certs
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Firebase/Google config
firebase-cloud-message/*.json
firebase-cloud-message/*.plist

# Metro
.metro-health-check*

# Debug/logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
logs/

# macOS
.DS_Store
*.pem

# local env files
.env*
*.env*

# typescript
*.tsbuildinfo

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.xcuserstate
project.xcworkspace

# Android Studio/IntelliJ
*.iml
.idea/
.gradle/
.classpath
.project
.settings/
.metadata/

# Coverage, cache, temp
coverage/
.nyc_output/
.cache/
.parcel-cache/
tmp/
.temp/
.tern-port

# Editor/IDE
.vscode/
*.swp
*.swo

# Dokümantasyon (README.md hariç)
docs/*
!docs/README.md

# Test dosyaları
test/
